<div class="login-container">
  <form>
    <div class="login-form-row">
      <img src="../../../assets/images/psllogo.png">
    </div>
    <div class="login-form-row">
        <span class="login-form-row__text"> Welcome to the Pre Shadow Platform</span>
    </div>
    <div class="login-form-row">
      <i class="fas fa-unlock-alt login-form-row__icon"></i>
      <input class="login-form-row__input"
             type="text"
             placeholder="Username"
             name="username">
    </div>
    <div class="login-form-row">
      <i class="fas fa-unlock-alt login-form-row__icon"></i>
      <input class="login-form-row__input"
             type="password"
             placeholder="Passsword"
             name="password">
    </div>
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-secondary btn-lg btn-dark">Log In</button>
    </div>
  </form>
</div>
