@import './variables';

@mixin notification_settings {
  height: 30px;
  font-family: $main_font;
  font-size: 17px;
  font-weight: bold;
  color: $validation_alert;
  margin-left: 200px;
}

@mixin title_settings {
  font-family: $main_font;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  color: $purple_logo_psl;
  height: 50px;
}

@mixin element_wrap_for_update_or_create {
  width: 400px;
  min-width: 400px;

  &__data {
    font-size: $size_main_font;
    display: flex;
    justify-content: center;

    &__text {
      padding: 10px 5px 5px 10px;
      margin-top: 20px;
      margin-right: 10px;
      width: 180px;
      color: $purple_logo_psl;
      font-family: $main_font;
      font-weight: bold;
    }

    &__input {
      padding: 10px 5px 5px 10px;
      margin-top: 20px;
      margin-right: 10px;
      width: 180px;
      color: $purple_logo_psl;
      font-family: $main_font;
      font-weight: bold;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      border-radius: 0.7rem;
      height: 51.5px !important;
      background-color: #f7f7f7;

      &--invalid {
        border: 2px solid red;
      }
    }
    &__dateContainer {
      display: flex;
      align-items: center;
      margin-top: 15px;

      &__input {
        padding: 11px;
        width: 150px;
        font-family: $main_font;
        font-size: $size_main_font;
        background-color: #f7f7f7;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        border-radius: 0.7rem;

        &--invalid {
          border: 2px solid red;
        }
      }

      &__btn {
        padding: 14px;
        border-radius: 0.7rem;
      }
    }
  }
  &__notification {
    @include notification_settings;
  }
}
