$purple_logo_psl: #2d2045;
$blue_logo_psl: rgb(33, 212, 253);
$main_font: 'Titillium Web', sans-serif;
$size_main_font: 18px;
$purple_psl_opacity: rgba(128,0,128, 0.3);
$color_main_font: white;
$blue_font_bootstrap: #007bff;
$validation_alert: red;
$blue_opacity: rgba(128,0,128, 0.3);