<div class="list_courses_container">

  <button type="button" class="btn btn-primary list_courses_container__btn" (click)="createCourse()">
     <i class="fas fa-graduation-cap list_courses_container__btn__icon"></i>
    <span class="list_courses_container__btn__text">Create</span>
  </button>

  <div class="list_courses_container__criteria-list">
    <select class="btn btn-primary list_courses_container__criteria-list__select" name="criteria-list" [(ngModel)]="selectedCriteriaToSearch">
     <option value="">Select an option</option>
      <option *ngFor="let option of criteriaOptions" [value]="option"> {{option | titlecase | convertTitle }} </option>
    </select>

    <input #term [(ngModel)]="termToSearch" (keyup)="updateTerm(term.value)" class="form-control mr-sm-2 list_courses_container__criteria-list__search" type="text" placeholder="Search by criteria">
  </div>

</div>

<div class="course_cards" appScrollable (scrollPosition)="scrollHandler($event)">
  <div class="container_cards d-flex flex-wrap">
      <ng-container *ngFor="let course of courses">
          <div class="card">
            <div class="card-header">
             <span class="card-header-text">
              {{ course.name }}
            </span>
             <button type="button" class="btn card-header-btn" (click)="editCourse(course.id)">
              <i class="fas fa-edit"></i>
             </button>
            </div>
            <div class="card-body">
              <p class="card-text">
                <span class="card-text__attribute">
                Category:
                </span>
                {{ course.category }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                Duration:
                </span>
                {{ course.duration }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                Candidates capacity:
                </span>
                {{ course.numberOfCandidates }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                    Topics
                </span>
              </p>
              <ul>
                <li *ngFor="let topic of course.topics">
                    <a class="card-link" [href]="topic.link"> {{ topic.name }}  </a>
                </li>
              </ul>
            </div>
          </div>
    </ng-container>
  </div>
</div>
<div class="courses_spinner"  *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>

