<div class="list_courses_container">

  <button type="button" class="btn btn-primary list_courses_container__btn" (click)="createCourse()">
     <i class="fas fa-graduation-cap list_courses_container__btn__icon"></i>
    <span class="list_courses_container__btn__text">Create</span>
  </button>

  <div class="list_courses_container__criteria-list">
    <select class="btn btn-primary list_courses_container__criteria-list__select" name="criteria-list" [(ngModel)]="selectedCriteriaToSearch">
     <option value="">Select an option</option>
      <option *ngFor="let option of criteriaOptions" [value]="option"> {{option | titlecase | convertTitle }} </option>
    </select>

    <input #term [(ngModel)]="termToSearch" (keyup)="searchByCriteria(term.value)" class="form-control mr-sm-2 list_courses_container__criteria-list__search" type="text" placeholder="Search by criteria">
  </div>

</div>

<div class="course_cards">
  <div class="container_cards d-flex flex-wrap">
      <ng-container *ngFor="let course of this.fakeCourses">
          <div class="card">
            <div class="card-header text-center">
             {{ course.name }}
            </div>
            <div class="card-body">
              <p class="card-text">
                <span class="card-text__attribute">
                Category:
                </span>
                {{ course.category }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                Duration:
                </span>
                {{ course.duration }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                Candidates capacity:
                </span>
                {{ course.numberOfCandidates }}
              </p>
              <p class="card-text">
                <span class="card-text__attribute">
                    Topics
                </span>
              </p>
              <ul>
                <li *ngFor="let topic of course.topics">
                    <a class="card-link" [href]="topic.link"> {{ topic.name }}  </a>
                </li>
              </ul>
            </div>
          </div>
    </ng-container>
  </div>
</div>
<!-- <div class="table-responsive courses_table">
<table class="table table-hover table-striped table-bordered ">

    <thead class="courses_table__row-header">
      <tr>
              <th scope="col" class="courses_table__row-header__item"  *ngFor="let option of criteriaOptions">
                <div class="courses_table__row-header__item__data">
                  <div class="courses_table__row-header__item__data__text">
                    {{option | titlecase | convertTitle}}
                  </div>
                </div>
              </th>
              <th scope="col" class="courses_table__row-header__item__edit"></th>
      </tr>
    </thead>

    <tbody class="courses_table__row-body">

      <tr *ngFor="let course of this.fakeCourses">
          <td class="courses_table__row-body__item">{{course.name}} </td>
          <td class="courses_table__row-body__item">{{course.numberOfCandidates}} </td>
          <td class="courses_table__row-body__item">{{course.category}} </td>
          <td class="courses_table__row-body__item">{{course.duration}} </td>
          <td class="courses_table__row-body__item">
              <ul>
                <li class="courses_table__row-body__item__topic-list" *ngFor="let topic of course.topics">
                  <span class="courses_table__row-body__item__topic-list__text" style="display: block">
                   {{ topic.name }}
                  </span>
                  <span class="courses_table__row-body__item__topic-list__text">
                   <a [href]="topic.link"> {{ topic.link }} </a>
                  </span>
                </li>
              </ul>
          </td>

          <td class="candidates_table__row-body__item"> </td>

      </tr>



    </tbody>

</table>
</div> -->
