<form [formGroup]="courseForm" (ngSubmit)="submitForm()" #cForm="ngForm">
    <div class="create-course-container">
      <div class="create-course-info">
        <span class="create-course-info__personal-title">Course Information</span>
        <div class="create-course-info__wrap">
          <div class="create-course-info__wrap__element">
            <div class="create-course-info__wrap__element__data">
              <label class="create-course-info__wrap__element__data__text" for="username">Course Name</label>
              <input [ngClass]="{'create-course-info__wrap__element__data__input--invalid': courseForm.get('name').errors && cForm.submitted}"
                     class="create-course-info__wrap__element__data__input"
                     type="text"
                     name="name"
                     formControlName="name"
                    >
            </div>
            <div class="create-course-info__wrap__element__notification">
              <div class="create-course-info__wrap__element__notification__error">
                <div *ngIf="courseForm.get('name').errors">
                  <div *ngIf="(cForm.submitted || courseForm.get('name')?.touched) && courseForm.get('name').errors['required']">
                    Type course name
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="create-course-info__wrap__element" >
            <div class="create-course-info__wrap__element__data">
              <label class="create-course-info__wrap__element__data__text"
                for="category">
                <strong> Category </strong>
              </label>
              <select class="create-course-info__wrap__element__data__input"
                      [ngClass]="{'create-course-info__wrap__element__data__input--invalid': courseForm.get('category').errors && cForm.submitted}"
                      formControlName="category"
                      name="category"
              >
                <option *ngFor="let role of softwareRoles" [value]="role">{{ role }}</option>
              </select>
            </div>
            <div class="create-course-info__wrap__element__notification">
              <div class="create-course-info__wrap__element__notification__error">
                <div *ngIf="courseForm.get('category').errors">
                  <div *ngIf="(cForm.submitted || courseForm.get('category')?.touched) && courseForm.get('category').errors['required']">
                    Select a category
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="create-course-info__wrap__element">
              <div class="create-course-info__wrap__element__data">
                <label class="create-course-info__wrap__element__data__text" for="numberOfCandidates">Candidates capacity </label>
                <input
                       class="create-course-info__wrap__element__data__input"
                       [ngClass]="{'create-course-info__wrap__element__data__input--invalid': courseForm.get('numberOfCandidates').errors && cForm.submitted}"
                       type="number"
                       name="numberOfCandidates"
                       formControlName="numberOfCandidates"
                      >
              </div>
              <div class="create-course-info__wrap__element__notification">
                <div class="create-course-info__wrap__element__notification__error">
                  <div *ngIf="courseForm.get('numberOfCandidates').errors">
                    <div *ngIf="(cForm.submitted || courseForm.get('numberOfCandidates')?.touched) && courseForm.get('numberOfCandidates').errors['required']">
                      Type a capacity
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="create-course-info__wrap__element">
              <div class="create-course-info__wrap__element__data">
                <label class="create-course-info__wrap__element__data__text" for="duration">Duration </label>
                <input
                       class="create-course-info__wrap__element__data__input"
                       [ngClass]="{'create-course-info__wrap__element__data__input--invalid': courseForm.get('duration').errors && cForm.submitted}"
                       type="text"
                       name="duration"
                       formControlName="duration"
                      >
              </div>
              <div class="create-course-info__wrap__element__notification">
                <div class="create-course-info__wrap__element__notification__error">
                  <div *ngIf="courseForm.get('duration').errors">
                    <div *ngIf="(cForm.submitted || courseForm.get('duration')?.touched) && courseForm.get('duration').errors['required']">
                      Type a duration
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="create-course-info__wrap__list-element-container">
              <div class="create-course-info-element">
                  <div class="row create-course-info-element__row">
                      <label class="create-course-info-element__row__text"  for="duration">Topics </label>
                      <button class="btn btn-primary create-course-info-element__row__btn" type="button" (click)="addTopic()">
                          <i class="fas fa-plus"></i>
                      </button>
                  </div>
                  <div formArrayName="topics" *ngFor="let topic of courseForm.get('topics')['controls']; let i = index;">
                      <div [formGroupName]="i">
                          <input class="create-course-info-element__input"
                                 [ngClass]="{'create-course-info-element__input--invalid': courseForm.get('topics')['controls'][i].get('name').status === 'INVALID' && cForm.submitted}"
                                 formControlName="name"
                                 placeholder="Name">
                          <input class="create-course-info-element__input"
                                 formControlName="link"
                                 placeholder="Link"
                                 [ngClass]="{'create-course-info-element__input--invalid': courseForm.get('topics')['controls'][i].get('link').status === 'INVALID' && cForm.submitted}"
                                 >
                          <button class="btn btn-dark create-course-info-element__btn" type="button" (click)="deleteTopicControl(i)">
                            <i class="fas fa-trash"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="create-course-container__buttons">
        <button type="button" class="btn btn-primary create-course-container__buttons__option" (click)="goBack()">
          Go Back
          <i class="fas fa-undo create-course-container__buttons__option__icon"></i>
        </button>
        <button type="submit" class="btn btn-primary create-course-container__buttons__option" *ngIf="this.action === formActions.createAction">
           Create
          <i class="fas fa-edit create-course-container__buttons__option__icon"></i>
        </button>
        <button type="submit" class="btn btn-primary create-course-container__buttons__option" *ngIf="this.action === formActions.updateAction">
           Update
          <i class="fas fa-edit create-course-container__buttons__option__icon"></i>
         </button>
      </div>
    </div>
  </form>
