<form [formGroup]="courseForm" (ngSubmit)="submitForm()" #cForm="ngForm">
    <div class="create-course-container">
      <div class="create-course-info">
        <span class="create-course-info__personal-title">Course Information</span>
        <div class="create-course-info__wrap">
          <div class="create-course-info__wrap__element">
            <div class="create-course-info__wrap__element__data">
              <label class="create-course-info__wrap__element__data__text" for="username">Name</label>
              <input
                     class="create-course-info__wrap__element__data__input"
                     type="text"
                     name="name"
                     formControlName="name"
                    >
            </div>
          </div>

          <div class="create-course-info__wrap__element" >
            <div class="create-course-info__wrap__element__data">
              <label class="create-course-info__wrap__element__data__text"
                for="Preference">
                <strong> Category </strong>
              </label>
              <select class="create-course-info__wrap__element__data__input"
                      formControlName="category"
                      name="preference"
              >
                <option *ngFor="let role of softwareRoles" [value]="role">{{ role }}</option>
              </select>
            </div>
          </div>

          <div class="create-course-info__wrap__element">
              <div class="create-course-info__wrap__element__data">
                <label class="create-course-info__wrap__element__data__text" for="numberOfCandidates">Candidates capacity </label>
                <input
                       class="create-course-info__wrap__element__data__input"
                       type="number"
                       name="numberOfCandidates"
                       formControlName="numberOfCandidates"
                      >
              </div>
          </div>

          <div class="create-course-info__wrap__element">
              <div class="create-course-info__wrap__element__data">
                <label class="create-course-info__wrap__element__data__text" for="duration">Duration </label>
                <input
                       class="create-course-info__wrap__element__data__input"
                       type="number"
                       name="duration"
                       formControlName="duration"
                      >
              </div>
          </div>

        </div>
      </div>
      <div class="create-course-container__buttons">
        <button type="button" class="btn btn-primary create-course-container__buttons__option" (click)="goBack()">
          Go Back
          <i class="fas fa-undo create-course-container__buttons__option__icon"></i>
        </button>
        <button type="submit" class="btn btn-primary create-course-container__buttons__option" *ngIf="this.action === formActions.createAction">
           Create
          <i class="fas fa-edit create-course-container__buttons__option__icon"></i>
        </button>
        <button type="submit" class="btn btn-primary create-course-container__buttons__option" *ngIf="this.action === formActions.updateAction">
           Update
          <i class="fas fa-edit create-course-container__buttons__option__icon"></i>
         </button>
      </div>
    </div>
  </form>
