@import '../../../assets/scss/variables';

@mixin title_settings {
  font-family: $main_font;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  color: $purple_logo_psl;
  height: 50px;
}

@mixin notification_settings {
  height: 30px;
  font-family: $main_font;
  font-size: 17px;
  font-weight: bold;
  color: $validation_alert;
  margin-left: 195px;
}

.create-candidate-container {
  background: $purple_psl_opacity;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  margin-bottom: 30px;
  min-width: 460px;
  height: 100%;
  width: 50%;
  margin-top: 50px;
  background-color: white;
  border: 1px solid $blue_font_bootstrap;

  .create-candidate-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__personal-title {
      @include title_settings;
    }

    &__program-title {
      @include title_settings;
      margin-top: 30px;
    }

    &__wrap {
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__element {
        width: 400px;
        min-width: 400px;
        &__data {
          font-size: $size_main_font;
          display: flex;
          justify-content: center;
          &__text {
            padding: 10px 5px 5px 10px;
            margin-top: 20px;
            margin-right: 10px;
            width: 180px;
            color: $purple_logo_psl;
            font-family: $main_font;
            font-weight: bold;
          }
          &__input {
            padding: 10px 5px 5px 10px;
            margin-top: 20px;
            margin-right: 10px;
            width: 180px;
            color: $purple_logo_psl;
            font-family: $main_font;
            font-weight: bold;
            border: 2px solid #dfe1e5;
            height: 51.5px !important;
          }
          &__dateContainer {
            display: flex;
            align-items: center;
            margin-top: 15px;
            &__input {
              padding: 11px;
              width: 150px;
              font-family: $main_font;
              font-size: $size_main_font;
              border: 2px solid #dfe1e5;
            }
            &__btn {
              padding: 14px;
            }
          }
        }
        &__notification {
          @include notification_settings;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    &__option {
      cursor: pointer;
      &__icon {
        margin-left: 10px;
      }
      &__text {
        cursor: pointer;
        font-size: $size_main_font;
        font-family: $main_font;
      }
    }
  }
}

@media all and (max-width: 815px) {
  .create-candidate-container {
    width: 90%;
    height: 100%;
    .create-candidate-info {
      &__wrap {
        justify-content: center;
        &__element {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &__data {
            flex-direction: column;
          }
          &__notification {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
