@import '../../../assets/scss/variables';

.create-candidate-container {
  background: $purple_psl_opacity;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  min-height: 40%;
  width: 800px;
  margin-top: 15px;
  background-color: $purple_logo_psl;

  .create-candidate-row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main_font;
    font-size: $size_main_font;
    margin-bottom: 15px;

    &__data {
      padding: 10px 5px 5px 10px;
      margin-top: 20px;
      margin-right: 15px;
      width: 150px;
      color: $color_main_font;
    }

    &__input {
      padding: 10px;
      margin-top: 15px;
      width: 320px;
      font-family: $main_font;
      font-size: $size_main_font;
    }

    &__date{
      padding: 10px;
      width: 280px;
      font-size: $size_main_font;
      font-family: $main_font;
    }

    &__dateBtn{
      padding: 13px;
    }
  }

  .create-candidate-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    &__option {
      cursor: pointer;
      &__icon{
        margin-left: 10px;
      }
      &__text{
        cursor: pointer;
        font-size: $size_main_font;
        font-family: $main_font;
      }
    }
  }

}
