<div class="create-candidate-container">
    <form>
        <div class="create-candidate-row">
            <label class="create-candidate-row__data" for="email"> <strong> Email</strong> </label>
            <input class="create-candidate-row__input" type="email" name="email" [(ngModel)]="email" placeholder="Enter a email">
        </div>
        <div class="create-candidate-row">
            <label class="create-candidate-row__data" for="pass"> <strong> Password </strong></label>
            <input class="create-candidate-row__input" type="password" name="pass" [(ngModel)]="password">
        </div>
        <div class="create-candidate-buttons">
            <button type="button" class="btn btn-primary create-candidate-buttons__option" >
                <label class="create-candidate-buttons__option__text"> Go Back</label>
                <i class="fas fa-undo create-candidate-buttons__option__icon"></i>
            </button>
            <button type="submit" class="btn btn-primary create-candidate-buttons__option" (click)="onCreateCandidate()">
                <label class="create-candidate-buttons__option__text"> Create</label>
                <i class="fas fa-edit create-candidate-buttons__option__icon"></i>
            </button>
        </div>
    </form>
  </div>
