<div class="login-container">
  <form class="login-form">
    <div class="login-form-row">
      <img class="login-form-row__image" src="../../../assets/images/psllogo.png">
    </div>
    <div class="login-form-row">
      <span class="login-form-row__text"> Welcome to the Pre Shadow Platform</span>
    </div>
    <div class="login-form-row">
      <i class="fa fa-user icon login-form-row__icon"></i>
      <input class="login-form-row__input"
             type="email"
             placeholder="Email"
             name="email"
             [(ngModel)]="email"
             >
    </div>
    <div class="login-form-row">
      <i class="fas fa-unlock-alt login-form-row__icon"></i>
      <input class="login-form-row__input"
             type="password"
             placeholder="Password"
             name="password"
             [(ngModel)]="password"
             >
    </div>
    <div class="login-form-row">
      <button type="button" class="btn btn-primary login-form-row__btn" (click)="onLogIn()">
        <span class="login-form-row__text">Log In</span>
      </button>
    </div>
  </form>
</div>
