@import '../../../../assets/scss/variables';

.login-container {
  height: 560px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: $purple_logo_psl;
  border: 1px solid black;
  margin-top: 160px;
  border-radius: 8px;

  .login-form {
    width: 100%;
    height: 100%;
    .login-form-row {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      text-align: center;
      &__input {
        padding: 20px;
        font-family: $main_font;
        &:focus {
          border: 2px solid dodgerblue;
        }
      }
      &__icon {
        background-color: gray;
        padding: 20px;
      }
      &__text {
        color: white;
        padding: 35px;
        font-family: $main_font;
        font-size: 19px;
        font-weight: bold;
      }
      &__btn {
        margin-bottom: 80px;
        height: 50px;
      }
      &__image{
        height: 80px;
        margin-top: 30px;
      }
    }
  }
}


@media all and (max-width: 700px) {
  .login-container {
    width: 80%;
    min-width: 320px;
  }

}
