<div class="candidate-info-container">
    <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong> Name: </strong> {{candidate.name }}</li>
          <li class="list-group-item"><strong> Email: </strong> {{candidate.email }}</li>
          <li class="list-group-item"><strong> Age: </strong> {{candidate.age}}</li>
          <li class="list-group-item"><strong> Start Date: </strong> {{candidate.startDate | datePipe }}</li>
          <li class="list-group-item"><strong> Release Date: </strong> {{candidate.releaseDate | datePipe}}</li>
          <li class="list-group-item"><strong> Preference: </strong> {{candidate.preference}}</li>
        </ul>
      </div>
</div>
