<table class="candidates_table">
  <tr class="candidates_table__row">
    <th class="candidates_table__row__item">Name</th>
    <th class="candidates_table__row__item">Age</th>
    <th class="candidates_table__row__item">Start Date</th>
    <th class="candidates_table__row__item">Release Date</th>
    <th class="candidates_table__row__item">Preference</th>
    <th class="candidates_table__row__item"></th>
  </tr>
  <tr class="candidates_table__row">
    <td class="candidates_table__row__item">Pablo Villegas </td>
    <td class="candidates_table__row__item">22<td>
    <td class="candidates_table__row__item">other data</td>
    <td class="candidates_table__row__item">ye?</td>
    <td class="edit-buttons">
    <button type="button" class="btn btn-primary navbar-btn" (click)="editCandidate()">
      <span class="navbar-btn__text">Edit</span>
   </button>
    </td>
   </tr>
</table>
