@import '../../../assets/scss/variables';

@mixin text {
  font-size: 17px;
  font-weight: bold;
}

@mixin row_mixin {
  border: 1px solid #ddd;
  &__item {
    padding: 1.1rem;
    margin-bottom: 15px;
    height: 20px !important;
    &__data {
      display: flex;
      &__btn {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        color: $purple_logo_psl;
        background-color: white;
        border: 0;
        width: 18px !important;
        align-items: center;
        justify-content: center;
        &__icon {
          background-color: white;
          margin-bottom: 2px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.list_candidates_container {
  width: 70%;
  min-width: 360px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  font-family: $main_font;
  align-items: center;

  &__btn {
    width: 100px;
    height: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      @include text;
      min-width: 58.33px;
    }
    &__icon {
      width: 40px;
    }
  }

  &__criteria-list {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    align-items: center;
    &__text {
      @include text;
      margin-right: 20px;
    }
    &__select {
      height: 40px;
      width: 140px;
    }
  }
  &__search {
    margin-top: 50px;
    width: 190px;
    height: 40px;
    margin-left: 30px;
    border: 1px solid rgb(169, 169, 169);
  }
}
.candidates_table {
  width: 70%;
  margin: 0 auto;
  font-family: $main_font;
  font-size: $size_main_font;
  margin-top: 50px;
  margin-bottom: 10px;

  &__row-header {
    cursor: pointer;
    @include row_mixin;
  }

  &__row-body {
    @include row_mixin;
    height: 53px;

    &__spinner{
      width: 100%;
      margin: 0 auto;
    }
  }

  .edit-buttons {
    &__option {
      width: 40px;
      margin-right: 10px;
    }
  }
}
.candidates_spinner{
  margin-bottom: 50px;
}

@media all and (max-width: 815px) {

  .list_candidates_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 210px;
  }
  .candidates_table {
    width: 375px;
    overflow-x: scroll;
  }
}
