<div class="list_candidates_container">

  <button type="button" class="btn btn-primary list_candidates_container__btn" (click)="createCandidate()">
    <i class="fas fa-user-plus list_candidates_container__btn__icon"></i>
    <span class="list_candidates_container__btn__text">Create</span>
  </button>

  <div class="list_candidates_container__criteria-list">
    <select class="list_candidates_container__criteria-list__select" name="criteria-list" [(ngModel)]="selectedCriteriaToSearch">
        <option value="" disabled selected>Criteria</option>
      <option *ngFor="let option of criteriaOptions" [value]="option"> {{option}} </option>
    </select>
  </div>

  <input #term (keyup)="searchByCriteria(term.value)" class="form-control mr-sm-2 list_candidates_container__search" type="text" placeholder="Search">

</div>


<div class="table-responsive candidates_table" appScrollable (scrollPosition)="scrollHandler($event)">
      <table class="table table-hover table-striped ">
        <thead>
          <tr class="candidates_table__row-header">
              <th scope="col" class="candidates_table__row-header_item" (click)="sortWhenClicked(option)" *ngFor="let option of criteriaOptions">
                <div class="candidates_table__row-header__item__data">
                  <div class="candidates_table__row-header__item__data__text">
                      {{option | titlecase | convertTitle}}
                  </div>
                  <button *ngIf="selectedCriteriaToSort === option" type="button"
                          class="candidates_table__row-header__item__data__btn">
                      <i  *ngIf="isSortedAscendent"
                          class="fas fa-sort-up candidates_table__row-header__item__data__btn__icon"></i>
                      <i  *ngIf="!isSortedAscendent"
                          class="fas fa-sort-down candidates_table__row-header__item__data__btn__icon"></i>
                  </button>
                </div>
              </th>
            <th scope="col" class="candidates_table__row-body__item"></th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of this.candidates">
                <tr *ngIf="user.roles.candidate" class="candidates_table__row-body">
                    <td class="candidates_table__row-body__item">{{user.name}} </td>
                    <td class="candidates_table__row-body__item">{{user.email}}</td>
                    <td class="candidates_table__row-body__item">{{user.age}}</td>
                    <td class="candidates_table__row-body__item">{{user.startDate}}</td>
                    <td class="candidates_table__row-body__item">{{user.releaseDate}} </td>
                    <td class="candidates_table__row-body__item">{{user.preference}}</td>
                    <td class="edit-buttons">
                        <button type="button" class="btn  edit-buttons__option__edit" (click)="editCandidate(user.id)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn  edit-buttons__option__delete" (click)="removeCandidate(user.id)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="candidates_spinner"  *ngIf="adminApiService.loading | async">
          <app-loading-spinner></app-loading-spinner>
      </div>
</div>
